/*------------------------------------------------------header eka--------------------------------------------------*/
body{
    font-family: 'Roboto' , sans-serif;
    background-color: #0c1022;
    /*background-color: #03D2FF;*/
}
body > div >button{
    position: fixed;
    border-color: #00e2ff;
    border-radius: 100%;
    background-color: #0c1022;
    bottom: 40px;
    right: 40px;
    width: 100px;
    height: 100px;
}

body > header {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
}
body> header > img {
    position: absolute;
    top: 0px;
    left: 2vw;
    width: 100px;
    aspect-ratio: auto;
}
body > header >nav{
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 6.93px;
    top: 10px;
}

body > header > nav > a {
    color: #ffffff;
    text-decoration: unset;
    font-size: 24px;
    font-weight: 500;
    margin-right: 1.875vw;
}
/*!*!*--------------------------------------------------main eka -----------------------------------------------------*!*!*/

body > main > section:first-child{
        position: relative;
        width: 100%;
        height: 955px;
        color: #ffffff;
        left: 10px;
        overflow: hidden;
        z-index: -1;
}

body > main > section:first-child > div >h5 ,
body > main > section:first-child > div >h2 ,
body > main > section:first-child > div >h4 ,
body > main > section:first-child > div >p  {

    margin: 0;
    position: absolute;
    left: 15px;
}


body>main >section:first-child > div > h5 {
        top: 26.5vh;
        top: 250px;
        font-size: 2vw;
        font-size: 25px;
        font-weight: 150;
}

body>main >section:first-child > div > h2 {
        top: 30vh;
        top: 300px;
        font-size: 2vw;
        font-size: 50px;
        font-weight: 150;
}

body>main >section:first-child > div > h4 {
        top: 35vh;
        top: 360px;
        font-size: 2vw;
        font-size: 30px;
        font-weight: 150;
}

body>main >section:first-child > div > p{
        top: 35vh;
        top: 400px;
        font-size: 2vw;
        font-size: 20px;
        font-weight: 150;
}


body > main > section > div:nth-child(2) > a:first-child{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 350px;
    top: 50vh;
    left: 60px;
}

body > main > section > div:nth-child(2) > a:nth-child(2){
    position: absolute;
    width: 50px;
    height: 20px;
    top: 350px;
    top: 50vh;
    left: 160px;
}

body > main > section > div:nth-child(2) > a:nth-child(3){
    position: absolute;
    width: 50px;
    height: 20px;
    top: 350px;
    top: 50vh;
    left: 260px;
}

body > main > section > div:nth-child(2) > a:last-child{
    position: absolute;
    width: 50px;
    height: 20px;
    top: 350px;
    top: 50vh;
    left: 260px;
}

body > main > section > div:nth-child(3) > button{
            position: absolute;
            top: 750px;
            left: 120px;
            font-size: 40px;
            font-weight: 800;
            color: #ffffff;
            text-align: center;
            /*padding-left: 0vw;*/
            width: 309px;
            height: 70px;
            box-sizing: border-box;
            background-color: #00e2ff;
            border: 1px solid #000000;
            border-radius: 50px;
}

body > main:nth-child(2) >section >img{
    /*position: absolute;*/
    /*width: fit-content;*/
    /*height: fit-content;*/
    /*top: 80px;*/
    /*right: 90px;*/

    position: absolute;
    top: 100px;
    bottom: 0;
    right: 30px;
    margin: auto;
    width: 30px;
    aspect-ratio: auto;
    width: 35vw;
    height: 820px;
    aspect-ratio: auto;
    right: 5vw;
}

/*!*!*----------------------------------------------------About Me -------------------------------------------------------*!*!*/

body > footer > h1{
    position: absolute;
    top: 1070px;
    text-align: center;
    font-size: 70px;
}

body > footer>#About{
    color: #000000;
    display: inline;
    left: 750px;
}
body > footer>#Me{
    color: #00e2ff;
    display: inline-block;
    left: 975px;
}

body > footer > section >h3{
    position: relative;
    color: #ffffff;
    top: 35vh;
    right: 175px;
    text-align: center;
    font-size: 5vh;
}

body> footer >section >img{
    position: relative;
    width: 40vh;
    left: 20px;
    top: 1vh;
    border-radius: 50px;
}

body > footer > section >p{
    position: absolute;
    color: #ffffff;
    text-align: left;
    top: 150vh;
    left: 55vh;
    font-family: 'Roboto', sans-serif;
    width: 70vw;
    font-size: 30px;
    text-align: left;
    padding-left: 20px;
}

/*!*!*!*-----------------------------------------------------MY EDUCATION--------------------------------------------------------*!*!*!*/

/*body:nth-child(2) > footer > div >h1{*/
/*    position: absolute;*/
/*    top: 1900px;*/
/*    font-size: 70px;*/
/*    text-align: center;*/

/*}*/


/*body:nth-child(2) >footer > div > #My{*/
/*    color: #00e2ff;*/
/*    display: inline;*/
/*    left: 750px;*/
/*}*/

/*body:nth-child(2) >footer > div > #Education{*/
/*    color: #000000;*/
/*    display: inline-block;*/
/*    left: 875px;*/
/*}*/

/*body:nth-child(2) > footer >#line {*/
/*    position: absolute;*/
/*    height: 1700px;*/
/*    width: 5px;*/
/*    background-color: #00e2ff;*/
/*    left: 950px;*/
/*    top: 220vh;*/
/*}*/


/*body:nth-child(2) >footer >section >div{*/
/*    color: #000000;*/
/*    position: absolute;*/
/*    top: 100px;*/
/*    text-align: center;*/
/*    border: 2px solid #00e2ff;*/
/*    width: 500px;*/
/*    aspect-ratio: 1/1;*/
/*    background-color: #377793;*/
/*    border-radius: 20px;*/
/*}*/

/*body:nth-child(2) >footer >section >#div1{*/
/*    position: absolute;*/
/*    top: 2100px;*/
/*    left: 300px;*/

/*}*/
/*body:nth-child(2) > footer > section >#div2{*/
/*    color: aqua;*/
/*    position: absolute;*/
/*    right: 300px;*/
/*    top: 2500px;*/
/*}*/

/*body:nth-child(2) > footer > section >#div3{*/
/*    color: red;*/
/*    position: absolute;*/
/*    left: 300px;*/
/*    top: 2900px;*/
/*}*/

/*body:nth-child(2) > footer > section >#div4{*/
/*    color: blue;*/
/*    position: absolute;*/
/*    right: 300px;*/
/*    top: 3300px;*/
/*}*/

/*!*-------------------------------------------------------MY Projects----------------------------------------------------*!*/

body :nth-child(2) >footer >h1{
    position: absolute;
    /*left: 40vw;*/
    top: 225vh;
    font-size: 40px;
    text-align: center;
}

body :nth-child(2) >footer  >#My{
    color: #000000;
    display: inline;
    left: 250px;
}

body :nth-child(2) >footer >#Projects{
    color: #00e2ff;
    display: inline;
    left: 875px;
}

body :nth-child(2) >footer > #section2 :first-child >div >img {
    position: relative;
    width: 40vh;
    left: 20px;
    top: 1vh;
    border-radius: 50px;

}
body :nth-child(2) >footer > #section2 :first-child >div >h5{
    text-align: center;
    font-size: 40px;
    color: white;
}
/*------------------------------------------------------assingment--------------------------------------------------------------*/

