/*/////////////////AboutMe/////////////*/
.aboutMe{
    position: relative;
    z-index: 10;
}
.center-subtopic{
    text-align: center;
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: 8px;
    color: rgba(255, 255, 255, .5);
}
.middle-quote{
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
}
.div-wrapper{
    padding: 20px 10%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card
{
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-right: 100px;
    background: transparent;
    box-shadow: 0 15px 35px rgb(14, 125, 147);
}
.card .lines
{
    position: absolute;
    inset: 0;
    background: #073f3f;
    overflow: hidden;
}
.card .lines::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1000px;
    height: 120px;
    background: linear-gradient(transparent,#45f3ff, #ffffff, #09fa28,transparent);
    animation: animate 4s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100%
    {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
.card .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #000000;
}
.card-img{
    width: 500px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img img{
    height: 600px;
    width: auto;
    position: absolute;
    top: -30px;
    transition: height 0.3s ease, transform 0.3s ease;
}
.right-div>h1{
    position: relative;
    font-size: 75px;
    display: inline-block;
    padding-bottom: 10px;
}
.first-line{
    position: absolute;
    left: 5px;
    bottom: 0;
    margin: auto;
    width: 85px;
    height: 5px;
    background-color: #0ef;
}

.tab-titles{
    z-index: 10;
    display: flex;
}
.tab-links{
    z-index: 10;
    margin: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #0ef;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: .5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #0ef;
    font-size: 14px;
}
.tab-contents{
    display: none;
    min-height: 400px;
}
.tab-contents.active-tab{
    display: block;
}
.right-div>p{
    position: relative;
    margin-top: 50px;
    line-height: 25px;
    font-weight: 400;
}
