/* --------contact------- */
#contact{
    margin: 80px 0px;
}

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #00e2ff;
    margin-right: 15px;
    font-size: 25px;
}
.wBtn.btn2{
    display: inline-block;
    background: #000000;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 70%;
    border: 0;
    outline: none;
    background: #000000;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 80px;
    font-size: 18px;
    margin-top: 50px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright .heart{
    color: #0ef;
}

#msg{
    color: #00e2ff;
    margin-top: -40px;
    display: block;
}

/*/////////////////////////footer///////////////////////////////*/

/*.footer{*/
/*    background-color: #000000;*/
/*}*/

/*.footer .row{*/
/*    justify-content: center;*/
/*}*/


.copyright-area{
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f242d;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}
.copyright-text p a{
    color: #0ef;
}
.copyright-text p a:hover{
    text-decoration: underline;
}
