@media all and (max-width: 425px) {
    .header{
        position: fixed;
    }

    /*--------------------------------------------------*/

    ::-webkit-scrollbar{
        width: 8px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
    }

    /*---------------------- home --------------------------*/

    #home .btn11 {
        font-size: 10px;
    }


    /*------------------------aboutme------------------*/
    #aboutMe {
        width: 250px;
        position: relative;
        margin: auto;
        top: -275px;
        right: 0;
        left: 0;
    }

    .div-wrapper {
        padding: 500px 10%;
        height: 1700px;
    }

    .right-div>h1 {
        font-size: 40px;
    }

    /*---------------------service------------------------*/
    .service-list {
        width: 275px;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
    }

    #service {
        height: 700px;
    }

    .service-list > div {

        padding: 30px;
        font-size: 8.5px;
    }
    #my_service {
        font-size: 40px;
    }

    /*------------------project------------------------*/
    #project {
        height: 1000px;
    }

    .project-list {
        width: 250px;

    }

    .page-header-a {
        text-align: center;
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 30px;
        color: #ffffff;
    }

    /*------------------skils------------------------*/
    .skils {

        height: 350px;

    }

    .skil-list {
        width: 100%;
    }

    .skils > div > img:first-child {
        position: absolute;
        left: 25px;
        top: 50px;
        width: 50px;
        height: 75px;
    }

    .skils > div > img:nth-child(2) {
        position: absolute;
        width: 100px;
        top: 50px;
        height: 71px;
        left: 93px;
    }

    .skils > div > img:nth-child(3) {
        position: absolute;
        left: 195px;
        top: 35px;
        width: 45px;
        height: 110px;

    }

    .skils > div > img:nth-child(4) {
        position: absolute;
        left: 290px;
        top: -15px;
        width: 60px;
        height: 206px;

    }

    .skils > div > img:nth-child(5) {
        position: absolute;
        left: 375px;
        top: -15px;
        width: 86px;
        height: 206px;

    }

    /*------------------assingment------------------------*/
    .assignment {
        height: 3400px;
        margin: 90px;
    }

    .assignment-list {

        width: 300px;
    }

    .assignment-list {
        position: absolute;
        margin: 0px;
        right: 0;
        left: 0;

    }

    .assignment-card {
        height: 250px;
    }

    .assignment-card-front, .assignment-card-back {
        position: absolute;
        border-radius: 10px;
        transform-style: preserve-3d;
        width: 226px;
        height: 310px;
    }

    .assignment-card-image, .assignment-card-content {
        width: 226px;
        height: 151px;
    }

    .assignment-card-title {
        top: 175px;
        font-size: 20px;
        font-weight: bold;

    }

    .assignment-card-subtitle {
        top: 215px;
        font-size: 18px;
    }

    .assignment-card-title-back {
        font-size: 20px;
        font-weight: bold;
    }

    .assignment-card-subtitle-back-1 {
        top: 155px;
        font-size: 18px;
    }

    .assignment-card-code-btn-back-1 {
        font-weight: bold;

    }

    .assignment-card-code-btn-back-1 a {
        color: white;

    }

    /*------------------gallery------------------------*/
    & body .galary {
        height: 2400px;
    }

    .gallery-container {
        width: 300px;
    }

    .gallery-container > div {
        width: 240px;
        height: 180px;
        margin: 10px;
    }

    .gallery-container > div > div {
        width: 240px;
        height: 180px;

    }

    /*------------------------contact------------------------*/

    #contact .sub-title {
        font-size: 32px;
        margin-top: 75px;
        margin-bottom: 50px;
        margin-left: -52px;
    }
    .contact p{
        margin-bottom: 2rem;
        margin-left: -110px;
    }

    #contact form {
        margin-left: -100px;
        margin-right: -100px;
    }
    #contact .contact-right .contact-btn {
        font-size: 1.1rem;
        letter-spacing: 4px;
        width: 160px;
    }

    /*------------------------copyright area------------------------*/
    .footer {
        width: 100%;
    }

    .copyright-text p {
        margin: 0;
        font-size: 10px;
    }

    .up-btn {
        font-size: 30px;
    }
}

@media all and (max-width: 560px) {

    .header{
        position: fixed;
    }

    /*--------------------------home-----------------------*/
    #home {
        height: 300px;
    }

    .home-content {
        width: 300px;
    }

    .home-content h2 {
        font-size: 20px;
        position: absolute;
        top: -170px;
    }

    .home-content h1 {
        font-size: 35px;
        position: absolute;
        top: -155px;
    }

    .home-content h3 {
        font-size: 18px;
        position: absolute;
        top: -90px;
    }

    .home-content p {
        font-size: 15px;
        font-style: italic;
        position: absolute;
        top: -45px;
    }

    .social-media a {
        display: inline;
        /*justify-content: center;*/
        /*align-items: center;*/
        position: relative;
        top: 200px;
        width: 50px;
        height: 50px;
        font-size: 10px;
    }

    .social-media a i {
        font-size: 50px;
    }

    .btn11 {
        position: absolute;
        top: 500px;
        border-radius: 10px;
        font-size: 15px;
    }

    /*.btn{*/
    /*    position: relative;*/
    /*    width: 75px;*/
    /*    height: 25px;*/
    /*}*/
    /*.btn a{*/
    /*    position: absolute;*/
    /*    display: flex;*/
    /*    font-weight: 150;*/
    /*    letter-spacing: 1px;*/
    /*    overflow: hidden;*/
    /*}*/
    /*------------------------aboutme------------------*/
    #aboutMe {
        width: 300px;
        position: relative;
        margin: auto;
        top: -275px;
        right: 0;
        left: 0;
    }

    .div-wrapper {
        padding: 500px 10%;
        height: 2100px;
    }

    .card-img {
        width: 330px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        /*position: relative;*/
        /*top: -144px;*/
    }

    .card, .card-img > img {
        width: 302px;
        height: 380px;
        top: -45px;
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
    }

    .div-wrapper .right-div h1 {
        text-align: center;
        position: absolute;
        left: 10px;
        top: 430px;
        font-size: 63px;

    }

    .div-wrapper .right-div .para {
        text-align: center;
        font-weight: bold;
        font-size: 15px;
        position: absolute;
        left: 10px;
        top: 1250px;
    }

    .div-wrapper .right-div .tab-titles {
        text-align: center;
        position: absolute;
        left: 10px;
        top: 1650px;
    }

    .div-wrapper .right-div .tab-contents {
        text-align: center;
        position: absolute;
        left: 10px;
        top: 1750px;
    }

    /*------------------------header--------------------*/
    .header .fas {
        display: block;
        font-size: 25px;
    }

    .nav-bar ul {
        background: #262626;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    .nav-bar ul li {
        display: block;
        margin: 25px;
    }

    .nav-bar ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    /*---------------------service------------------------*/
    .service-list {
        width: 300px;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
    }

    #service {
        height: 1000px;
    }

    .service-list > div {

        padding: 30px;
        font-size: 8.5px;
    }

    /*------------------project------------------------*/
    #project {
        height: 1000px;
    }

    .project-list {
        width: 300px;

    }

    .project-list > img {
        width: 100%;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
    }

    .layer h3 {
        font-weight: 150;
        margin-bottom: 10px;
    }

    /*.layer p{*/
    /*    color: black;*/
    /*    font-style: italic;*/
    /*}*/
    .layer a {
        margin-top: 10px;
        font-size: 20px;
        line-height: 30px;
        width: 30px;
        height: 30px;
        border-radius: 45%;
    }

    /*------------------skils------------------------*/
    .skils {

        height: 350px;

    }

    .skil-list {
        width: 300px;
    }

    .skils > div > img:first-child {
        position: absolute;
        left: 25px;
        top: 50px;
        width: 50px;
        height: 75px;
    }

    .skils > div > img:nth-child(2) {
        position: absolute;
        width: 100px;
        top: 50px;
        height: 71px;
        left: 93px;
    }

    .skils > div > img:nth-child(3) {
        position: absolute;
        left: 195px;
        top: 35px;
        width: 45px;
        height: 110px;

    }

    .skils > div > img:nth-child(4) {
        position: absolute;
        left: 290px;
        top: -15px;
        width: 60px;
        height: 206px;

    }

    .skils > div > img:nth-child(5) {
        position: absolute;
        left: 375px;
        top: -15px;
        width: 86px;
        height: 206px;

    }

    /*------------------assingment------------------------*/
    .assignment {
        height: 3400px;
        margin: 90px;
    }

    .assignment-list {

        width: 300px;
    }

    .assignment-list {
        position: absolute;
        margin: 0px;
        right: 0;
        left: 0;

    }

    .assignment-card {
        height: 250px;
    }

    .assignment-card-front, .assignment-card-back {
        position: absolute;
        border-radius: 10px;
        transform-style: preserve-3d;
        width: 226px;
        height: 310px;
    }

    .assignment-card-image, .assignment-card-content {
        width: 226px;
        height: 151px;
    }

    .assignment-card-title {
        top: 175px;
        font-size: 20px;
        font-weight: bold;

    }

    .assignment-card-subtitle {
        top: 215px;
        font-size: 18px;
    }

    .assignment-card-title-back {
        font-size: 20px;
        font-weight: bold;
    }

    .assignment-card-subtitle-back-1 {
        top: 155px;
        font-size: 18px;
    }

    .assignment-card-code-btn-back-1 {
        font-weight: bold;

    }

    .assignment-card-code-btn-back-1 a {
        color: white;

    }

    /*------------------gallery------------------------*/
    & body .galary {
        height: 2400px;
    }

    .gallery-container {
        width: 300px;
    }

    .gallery-container > div {
        width: 240px;
        height: 180px;
        margin: 10px;
    }

    .gallery-container > div > div {
        width: 240px;
        height: 180px;

    }

    /*------------------------contact------------------------*/

    #contact .sub-title {
        font-size: 32px;
        margin-top: 75px;
        margin-bottom: 50px;
        margin-left: -52px;
    }
    .contact p{
        margin-bottom: 2rem;
        margin-left: -110px;
    }

    #contact form {
        margin-left: -100px;
        margin-right: -100px;
    }
    #contact .contact-right .contact-btn {
        font-size: 1.1rem;
        letter-spacing: 4px;
        width: 160px;
    }

    /*------------------------copyright area------------------------*/
    .footer {
        width: 100%;
    }

    .copyright-text p {
        margin: 0;
        font-size: 10px;
    }

    .up-btn {
        font-size: 30px;
    }
}